<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="XinYaBarCodePrinter.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    
  <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" /></startup>
  <appSettings>
    <add key="SecondWorkStationID" value="140" />
    <add key="Source" value="SP装塑料/打码/贴码库第一储位" />
    <add key="WorkStationCode" value="P" />
    <add key="SecondWorkStationCode" value="SP" />
    <add key="LogAdress" value="\\Log" />
    <add key="PrintName" value="\\192.168.1.31\Zebra ZM400 (203 dpi) - ZPL"/>
    <!--如果打印机在网络上，请在名称中指明路径-->
    
  </appSettings>
  
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IService1" closeTimeout="00:01:00"
          openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00"
          allowCookies="false" bypassProxyOnLocal="false" maxBufferPoolSize="524288"
          maxReceivedMessageSize="65536" useDefaultWebProxy="true" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://192.168.1.8:8989/wcf" binding="basicHttpBinding"
        bindingConfiguration="BasicHttpBinding_IService1" contract="ServiceReference1.IService1"
        name="BasicHttpBinding_IService1" />
    </client>
  </system.serviceModel>
<connectionStrings><add name="XinYaDBEntities1" connectionString="metadata=res://*/XinYaDB.csdl|res://*/XinYaDB.ssdl|res://*/XinYaDB.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=192.168.1.8;Initial Catalog=XinYaDB;Persist Security Info=True;User ID=sa;Password=1qaz!QAZ;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" /></connectionStrings><userSettings>
    <XinYaBarCodePrinter.Properties.Settings>
      <setting name="XmlPath" serializeAs="String">
        <value>D:\XinYaSettings\barcodprint.xml</value>
      </setting>
    </XinYaBarCodePrinter.Properties.Settings>
  </userSettings>
</configuration>
