<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="Source" value="ECS"></add>
    <add key="timer" value="2000"/>
    <add key="ServerIP" value="192.168.1.8"/>
    <add key="PLCAdress" value="192.168.1.5"/>
    <add key="LogAdress" value="\\Log\\ECS" />
  </appSettings>
  <system.serviceModel>
    <behaviors>
      <endpointBehaviors>
        <behavior name="NewBehavior0">
          <dataContractSerializer maxItemsInObjectGraph="2147483647" />
        </behavior>
      </endpointBehaviors>
    </behaviors>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IService1" closeTimeout="00:01:00"
          receiveTimeout="00:02:00" maxBufferPoolSize="1048576" maxBufferSize="2048000"
          maxReceivedMessageSize="2048000" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://192.168.1.8:8989/wcf" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IService1" contract="ServiceReference1.IService1" name="BasicHttpBinding_IService1" />
    </client>
  </system.serviceModel>
  <connectionStrings>
    <add name="XinYaDBEntities" connectionString="metadata=res://*/XinYaDB.csdl|res://*/XinYaDB.ssdl|res://*/XinYaDB.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=192.168.1.8;Initial Catalog=XinYaDB;Persist Security Info=True;User ID=sa;Password=1qaz!QAZ;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>