<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="XinYaDBEntities" connectionString="metadata=res://*/XinYa.csdl|res://*/XinYa.ssdl|res://*/XinYa.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=192.168.1.8;Initial Catalog=XinYaDB;Persist Security Info=True;User ID=sa;Password=1qaz!QAZ;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <appSettings>
    <add key="PLCAdress" value="192.168.1.5" />
    <add key="Timer" value="1000" />
    <add key="Source" value="控制主程序" />
    <add key="LogAdress" value="\\Log" />
  </appSettings>
  <!--<system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior name="NewBehavior0">
          <serviceMetadata httpGetEnabled="true" httpGetUrl="http://192.168.1.8:8989/wcf/metadata" />
          <dataContractSerializer maxItemsInObjectGraph="2147483647" />
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <bindings>
      <basicHttpBinding>
        <binding name="NewBinding0" maxBufferPoolSize="1048576" maxBufferSize="2048000" closeTimeout="00:05:00"
            maxReceivedMessageSize="2048000" />
      </basicHttpBinding>
    </bindings>
    <services>
      <service behaviorConfiguration="NewBehavior0"  name="XinYaWcfServiceForPLCAndWorks.Service1">
        --><!--<service  name="XinYaWcfServiceForPLCAndWorks.Service1">--><!--
        <endpoint address="http://192.168.1.8:8989/wcf" binding="basicHttpBinding"
            bindingConfiguration="" contract="XinYaWcfServiceForPLCAndWorks.IService1" />
      </service>
    </services>
  </system.serviceModel>-->
</configuration>