<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="XinYaPCClientForAppointed.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <appSettings>
    <add key="SecondWorkStationID" value="114" />
    <add key="Source" value="SFQC试验台库第一储位" />
    <add key="WorkStationCode" value="F" />
    <add key="SecondWorkStationCode" value="SF" />
    <add key="LogAdress" value="\\Log" />
    <add key="VerifyModel" value="true" />
  </appSettings>
 
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IService1" closeTimeout="00:01:00"
          openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00"
          allowCookies="false" bypassProxyOnLocal="false" maxBufferPoolSize="524288"
          maxReceivedMessageSize="65536" useDefaultWebProxy="true" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://192.168.1.8:8989/wcf" binding="basicHttpBinding"
        bindingConfiguration="BasicHttpBinding_IService1" contract="ServiceReference1.IService1"
        name="BasicHttpBinding_IService1" />
    </client>
  </system.serviceModel>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" /></startup>

<connectionStrings><add name="XinYaDBEntities" connectionString="metadata=res://*/DAL.XinYaDB.csdl|res://*/DAL.XinYaDB.ssdl|res://*/DAL.XinYaDB.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=192.168.1.8;Initial Catalog=XinYaDB;Persist Security Info=True;User ID=sa;Password=1qaz!QAZ;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" /></connectionStrings><userSettings>
    <XinYaPCClientForAppointed.Properties.Settings>
      <setting name="XmlPath" serializeAs="String">
        <value>D:\XinYaSettings\PCClientForAppointed.xml</value>
      </setting>
      <setting name="PrintName" serializeAs="String">
        <value>Zebra ZM400 (203 dpi) - ZPL</value>
      </setting>
    </XinYaPCClientForAppointed.Properties.Settings>
  </userSettings>
</configuration>
