<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="PLCAdress" value="192.168.1.5" />
    <add key="Timer" value="800" />
    <add key="LogAdress" value="\\Log\\PCServer" />
  </appSettings>
  <connectionStrings>
    <add name="XinYaDBEntities" connectionString="metadata=res://*/XinYa.csdl|res://*/XinYa.ssdl|res://*/XinYa.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=LiuFu-PC;Initial Catalog=XinYaDB;User ID=sa;Password=1qaz!QAZ;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior name="NewBehavior0">
          <serviceMetadata httpGetEnabled="true" httpGetUrl="http://192.168.1.8:8989/wcf/metadata" />
          <dataContractSerializer maxItemsInObjectGraph="2147483647" />
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <bindings>
      <basicHttpBinding>
        <binding name="NewBinding0" closeTimeout="00:05:00" maxBufferSize="2048000"
          maxBufferPoolSize="1048576" maxReceivedMessageSize="2048000">
          <readerQuotas maxStringContentLength="10240" />
        </binding>
      </basicHttpBinding>
    </bindings>
    <services>
      <service behaviorConfiguration="NewBehavior0" name="XinYaWcfServiceForPLCAndWorks.Service1">
        <endpoint address="http://192.168.1.8:8989/wcf" binding="basicHttpBinding"
          bindingConfiguration="" contract="XinYaWcfServiceForPLCAndWorks.IService1" />
      </service>
    </services>
  </system.serviceModel>
</configuration>