<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="XinYaWorkTimeHelper.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <appSettings>
    <add key="绑定线段" value="磨合段"/>
    <add key="ServerIP" value="192.168.1.8"/>
  </appSettings>
  <connectionStrings>
    <add name="XinYaDBEntities" connectionString="metadata=res://*/XinYaDB.csdl|res://*/XinYaDB.ssdl|res://*/XinYaDB.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=192.168.1.8;Initial Catalog=XinYaDB;Persist Security Info=True;User ID=sa;Password=1qaz!QAZ;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IService1" closeTimeout="00:01:00"
          openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00"
          allowCookies="false" bypassProxyOnLocal="false" maxBufferPoolSize="524288"
          maxReceivedMessageSize="65536" useDefaultWebProxy="true" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://192.168.1.8:8989/wcf" binding="basicHttpBinding"
        bindingConfiguration="BasicHttpBinding_IService1" contract="ServiceReference1.IService1"
        name="BasicHttpBinding_IService1" />
    </client>
  </system.serviceModel>
  <userSettings>
    <XinYaWorkTimeHelper.Properties.Settings>
      <setting name="XmlPath" serializeAs="String">
        <value>D:\XinYaSettings\XinYaWorkTimeHelper.xml</value>
      </setting>
    </XinYaWorkTimeHelper.Properties.Settings>
  </userSettings>
</configuration>
<!--Test-->
<!--test-->