<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="XinYaPCClientForVisualQCStation.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <appSettings>
    <add key="SecondWorkStationID" value="21" />
    <add key="Source" value="SE试验台库第一储位" />
    <add key="WorkStationCode" value="E" />
    <add key="SecondWorkStationCode" value="SE" />
    <add key="LogAdress" value="\\Log" />
    <add key="VerifyModel" value="true" />
    <add key="VisualSecondWorkStationID" value="114" />
    <add key="VisualSource" value="SFQC试验台库第一储位" />
    <add key="VisualWorkStationCode" value="F" />
    <add key="VisualSecondWorkStationCode" value="SF" />
  </appSettings>
  <connectionStrings>
    <add name="XinYaDBEntities" connectionString="metadata=res://*/DAL.XinYaDB.csdl|res://*/DAL.XinYaDB.ssdl|res://*/DAL.XinYaDB.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=192.168.1.8;Initial Catalog=XinYaDB;Persist Security Info=True;User ID=sa;Password=1qaz!QAZ;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IService1" closeTimeout="00:01:00"
          openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00"
          allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
          maxBufferSize="65536" maxBufferPoolSize="524288" maxReceivedMessageSize="65536"
          messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered"
          useDefaultWebProxy="true">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
            maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <security mode="None">
            <transport clientCredentialType="None" proxyCredentialType="None"
              realm="" />
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://192.168.1.8:8989/wcf" binding="basicHttpBinding"
        bindingConfiguration="BasicHttpBinding_IService1" contract="ServiceReference1.IService1"
        name="BasicHttpBinding_IService1" />
    </client>
  </system.serviceModel>
  <userSettings>
    <XinYaPCClientForVisualQCStation.Properties.Settings>
      <setting name="XmlPath" serializeAs="String">
        <value>D:\XinYaSettings\PCClientForVisualQCStation.xml</value>
      </setting>
    </XinYaPCClientForVisualQCStation.Properties.Settings>
  </userSettings>
</configuration>